<launch>
<!-- Loads controller definitions into the ROS server -->

    <arg name="robot_name" default="testrover"/>

    <rosparam command="load" file="$(find rover_robots)/$(arg robot_name)/controls/control.yaml" />

    <!-- Spawns controller based on above .yaml file names and declarations -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          ns="/$(arg robot_name)" args="testrover_joint_publisher testrover_velocity_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
    </node>

</launch>