<!-- Simple launch file for defining robot description as part of larger processes -->
<launch>

  <arg name="robot_name" default="testrover"/>
  <arg name="address" default="$(find rover_robots)/$(arg robot_name)/urdf/$(arg robot_name).urdf.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg address)" />
  <!-- run it twice because Gazebo is dumb -->
  <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro $(arg address)" />

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
</launch>